<div class="row">
  <div class="col">
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2">
      <h4 class="text-center"> Thrusters</h4>
      <div class="row m-1" *ngFor="let thruster of thrusters ">
        <div class="col text-center">{{thruster.name}}</div>
        <div class="col text-center"><input id="{{thruster.name}}" type="number" min="0" value="0" class="form-control border-0" (input) = "CalcThrusters()"/></div>
      </div>
    </div>
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2">
      <h4 class="text-center "> Weapons</h4>
      <div class="row m-1" *ngFor="let weapon of weapons">
        <div class="col text-center">{{weapon.name}}</div>
        <div class="col text-center"><input id="{{weapon.name}}" type="number" min="0" value="0" class="form-control border-0" (input)="CalcWeapons()"/></div>
      </div>
    </div>
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2">
      <h4 class="text-center "> Tools</h4>
      <div class="row m-1" *ngFor="let tool of tools">
        <div class="col text-center">{{tool.name}}</div>
        <div class="col text-center"><input id="{{tool.name}}" type="number" min="0" value="0" class="form-control border-0" (input)="energyConsumptionCalc()"/></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2">
      <h4 class="text-center">Fuel Chambers</h4>
      <div class="row m-1" *ngFor="let chamber of fuelChambers ">
        <div class="col text-center">{{chamber.name}}</div>
        <div class="col text-center"><input id="{{chamber.name}}" type="number" min="0" value="0" class="form-control border-0 "(input)="CalcChambers()" /></div>
      </div>
    </div>
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2">
      <h4 class="text-center">Generator</h4>
      <div class="row m-1" *ngFor="let generator of generators ">
        <div class="col text-center">{{generator.name}}</div>
        <div class="col text-center"><input id="{{generator.name}}" type="number" min="0" value="0" class="form-control border-0" (input)="CalcGenerators()"/></div>
      </div>
    </div>
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2">
      <h4 class="text-center">Batteries</h4>
      <div class="row m-1" *ngFor="let battery of batteries ">
        <div class="col text-center">{{battery.name}}</div>
        <div class="col text-center"><input id="{{battery.name}}" type="number" min="0" value="0" class="form-control border-0" (input)="BatteryCalc()"/></div>
      </div>
    </div>
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2">
      <h4 class="text-center">Radiators</h4>
      <div class="row m-1" *ngFor="let radiator of radiators ">
        <div class="col text-center">{{radiator.name}}</div>
        <div class="col text-center"><input id="{{radiator.name}}" type="number" min="0" value="0" class="form-control border-0" (input)="HeatDispersionCalc()"/></div>
      </div>
    </div>
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2">
      <h4 class="text-center">Propelant Tanks</h4>
      <div class="row m-1" *ngFor="let propelantTank of propelantTanks ">
        <div class="col text-center">{{propelantTank.name}}</div>
        <div class="col text-center"><input id="{{propelantTank.name}}" type="number" min="0" value="0" class="form-control border-0" (input)="PropelantCalc()" /></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2">
      <h4 class="text-center">Results</h4>
      <div class="row m-1">
        <p>Energy Production: {{energyProduction}} e/s</p>
        <p>Energy Consumption: {{energyConsumption}} e/s</p>
        <p>Battery {{batterySum}} e</p>
        <p>Propelant: {{propelantMax}} units</p>
        <p>Thrust (perfect conditions): {{thrustSum}} units</p>
        <p>Heat Production: {{heatProductionSum}} h/s</p>
        <p>Heat Dispersion: {{heatDispersion}} h/s</p>
        <p>Heatsink count est: {{heatsinkCount}}</p>
      </div>
    </div>
    <div class="card bg-body-tertiary m-1 mb-2 border-0 pb-2 pt-2  bg-warning-subtle">
      <h4 class="text-center text-warning">Warning</h4>
      <div class="row m-1">
        <p>
          Since Heat update the amount of heat production and heatsinks counts depending on whole "generator module" construction, the amount of heatsinks and heat production given by this calculator will be inaccurate.
        </p>
        <p> <a href="https://wiki.starbasegame.com/index.php?title=Heat_mechanics#Effects_of_Proximity_on_Heat">Read more there</a></p>
      </div>
    </div>
  </div>
</div>
